<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                    <h1>the restaurant<small>A little about us and a breif history of how we
                            started.</small></h1>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-md-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 hidden-sm about-photo">
                            <div class="image-thumb">
                                <img src="/assets/Home/img/thumb1.png"
                                    data-mfp-src="/assets/Home/img/fullImages/pic1.jpg" class="img-responsive"
                                    alt="logo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 about-photo hidden-xs">
                            <img src="/assets/Home/img/thumb2.png" data-mfp-src="/assets/Home/img/fullImages/pic2.jpg"
                                class="img-responsive" alt="logo">
                        </div>
                        <div class="col-sm-6 about-photo hidden-xs">
                            <img src="/assets/Home/img/thumb3.png" data-mfp-src="/assets/Home/img/fullImages/pic3.jpg"
                                class="img-responsive" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <p>
                    Cras ut viverra eros. Phasellus sollicitudin sapien id luctus tempor. Sed hend rerit
                    inter dum sagittis. Donec nunc lacus, dapibus nec interdum eget, ultrices eget justo.
                    Nam purus lacus, efficitur eget laoreet sed, finibus nec neque. Cras eget enim in diam
                    dapibus sagittis. In massa est, dignissim in libero ac, fringilla ornare mi. Etiam
                    interdum ligula purus.
                </p>
                <br>
                <p>
                    Ultrices eget justo. Nam purus lacus, efficitur eget laoreet sed, finibus nec neque.
                    Cras eget enim in diam dapibus sagittis. In massa est, dignissim in libero ac, fringilla
                    ornare.
                </p>
                <img src="/assets/Home/img/signature.png" alt="signature">
            </div>
        </div>
    </div>
</section>