<section class="page_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-uppercase">Shop Listing</h2>
                <p>Tomato is a delicious restaurant website template</p>
            </div>
        </div>
    </div>
</section>

<div class="shop-content">
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <div class="side-widget">
                    <h5>{{ isMenu ? 'Our Menu' : 'Our Category'}}</h5>
                    <ul class="shop-cat" *ngIf="isMenu == true">
                        <li *ngFor="let menu of listMenuandMenuDetail">
                            <a>
                                {{menu.menuName}}
                            </a>
                            <ul class="">
                                <li *ngFor="let menuDetail of menu.menuDetail">
                                    <a href="/menu/menu-detail/id/{{ menuDetail.menu_detail_id }}">
                                        {{menuDetail.menu_detail_name}} </a>
                                </li>
                            </ul>
                        </li>
                     </ul>
                    <ul class="shop-cat" *ngIf="isMenu != true">
                        <li *ngFor="let menu of listMenuandMenuDetail">
                            <span>
                                {{menu.menuName}}</span>
                            <ul class="">
                                <li *ngFor="let menuDetail of menu.menuDetail">
                                    <a href="/category/category-detail/id/{{ menuDetail.cate_detail_id }}">
                                        {{menuDetail.cate_detail_name}} </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="col-md-9">
                <div class="shop-products">
                    <div class="row">
                        <h2 class="text-danger" *ngIf="err != ''">
                            {{ err }}
                        </h2>
                        <div class="col-md-4 col-sm-6" *ngFor="let product of ListCategoryActive">
                            <div class="product-info">
                                <div class="product-img">
                                    <div class="label-category">
                                        <div class="category--name">
                                            {{ product.category_detail.cate_detail_name }}
                                        </div>
                                    </div>
                                    <!-- <img [src]="'https://res.cloudinary.com/alpha1111/image/upload/v1619098856/zshaogd4tuxxuv48admb.jpg'"
                                        [alt]="product.image" /> -->
                                    <img [src]="product.image" [alt]="product.image" />

                                </div>
                                <h4><a routerLinkActive="active" class="product--name"
                                        routerLink="/product-detail/id/{{ product.product_id }}">{{ product.product_name
                                        }}</a></h4>

                                <div class="product-price d-block ssp">{{ product.price | currency:'$' }} <span>{{
                                        product.discount | currency:'$' }}</span></div>
                                <!-- <div class="shop-meta text-center" *ngIf="isMenu == true">
                                    <a (click)="AddtoCartByListproduct(product)"><i
                                            class="fa fa-shopping-cart"></i> Add to cart</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>