<div class="section-title d-flex align-items-center">
    <h2 class="font-weight-bold">Edit profile </h2>
</div>
<form [formGroup]="formUserUpgrade" (ngSubmit)="upgradeInfor(formUserUpgrade.value)">
    <input type="hidden" formControlName="customer_id">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>User name</label>
            <input type="text" class="form-control" formControlName="username" disabled>
        </div>
        <div class="form-group col-md-6">
            <label>Email address</label>
            <input type="text" class="form-control" formControlName="email" disabled>
        </div>
        <div class="form-group col-md-6">
            <label>Phone number</label>
            <input type="text" class="form-control" formControlName="phonenumber">
            <ul class="list-alert--err text-capitalize list-style-none p-0 text-danger">
                <li *ngIf="phonenumber.errors">
                    <span *ngIf="phonenumber.errors.required && phonenumber.touched">
                        Phone is requied
                    </span>
                </li>

                <li *ngIf="phonenumber.errors">
                    <span *ngIf="phonenumber.errors.pattern && phonenumber.touched">
                        can only contain characters from 0-9
                    </span>
                </li>
                <li *ngIf="phonenumber.errors && phonenumber.touched">
                    <span *ngIf="phonenumber.value.length < 10">
                        Please enter at least 10 characters
                    </span>
                </li>
            </ul>
        </div>
        <div class="form-group col-md-6">
            <label>Address</label>
            <input type="text" class="form-control" formControlName="address">
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary" [disabled]="formUserUpgrade.status == 'INVALID'">Save
                Changes</button>
        </div>
    </div>
</form>