<section class="home">
    <div class="tittle-block">
        <div class="logo">
            <a href="/">
                <img src="/assets/Home/img/logo.png" alt="logo">
            </a>
        </div>
        <div class="box-search">
            <div class="col-6">
                <form [formGroup]="formSearch" class="d-flex form-search" (ngSubmit)="onSearch(formSearch.value)">
                    <div class="box-input w-100">
                        <div class="search-text w-100">
                            <p>What do you want to search?</p>

                            <div class="name-search d-flex">
                                <input type="text" class="form-control m-0 text--search" placeholder="Search by name" formControlName="search" />
                                <button type="submit" class="btn btn--search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>

                        </div>
                        <div class="search-range d-block" style="width: 50%;">
                            <div class="price-min">
                                <label for="">Min price</label>
                                <input type="range" class="form-control search--ranger" value="0" formControlName="minPrice">
                            </div>
                            <div class="price-max">
                                <label for="">Max price</label>
                                <input type="range" class="form-control search--ranger" max="{{ maxPriceInDb }}" formControlName="maxPrice">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>

<app-restaurant></app-restaurant>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                    <h1 class="white">Our features<small>Little things make us best in town</small></h1>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-md-4 col-sm-6">
                <div class="features-tile">
                    <div class="features-img">
                        <img src="/assets/Home/img/thumb5.png" alt="" />
                    </div>
                    <div class="features-content">
                        <div class="page-header">
                            <h1>Serving with love</h1>
                        </div>
                        <p>Aenean suscipit vehicula purus quis iaculis. Aliquam nec leo nisi. Nam urna arcu,
                            maximus eget ex nec, consequat pellentesque enim. Aliquam tempor fringilla odio,
                            vel ullamcorper turpis varius eu.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="features-tile">
                    <div class="features-img">
                        <img src="/assets/Home/img/thumb6.png" alt="" />
                    </div>
                    <div class="features-content">
                        <div class="page-header">
                            <h1>Serving with love</h1>
                        </div>
                        <p>Aenean suscipit vehicula purus quis iaculis. Aliquam nec leo nisi. Nam urna arcu,
                            maximus eget ex nec, consequat pellentesque enim. Aliquam tempor fringilla odio,
                            vel ullamcorper turpis varius eu.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="features-tile">
                    <div class="features-img">
                        <img src="/assets/Home/img/thumb7.png" alt="" />
                    </div>
                    <div class="features-content">
                        <div class="page-header">
                            <h1>Serving with love</h1>
                        </div>
                        <p>Aenean suscipit vehicula purus quis iaculis. Aliquam nec leo nisi. Nam urna arcu,
                            maximus eget ex nec, consequat pellentesque enim. Aliquam tempor fringilla odio,
                            vel ullamcorper turpis varius eu.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 visible-sm">
                <div class="features-tile">
                    <div class="features-img">
                        <img src="/assets/Home/img/thumb5.png" alt="" />
                    </div>
                    <div class="features-content">
                        <div class="page-header">
                            <h1>Serving with love</h1>
                        </div>
                        <p>Aenean suscipit vehicula purus quis iaculis. Aliquam nec leo nisi. Nam urna arcu,
                            maximus eget ex nec, consequat pellentesque enim. Aliquam tempor fringilla odio,
                            vel ullamcorper turpis varius eu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                    <h1>Our menu<small>These fine folks trusted the award winning restaurant.</small></h1>
                </div>
            </div>
        </div>
        <div class="food-menu wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <div class="menu-tags">
                        <span data-filter="*" class="tagsort-active">All</span>
                        <span data-filter=".starter">starters</span>
                        <span data-filter=".breakfast">breakfast</span>
                        <span data-filter=".lunch">lunch</span>
                        <span data-filter=".dinner">dinner</span>
                        <span data-filter=".desserts">desserts</span>
                    </div>
                </div>
            </div>
            <div class="row menu-items">
                <div class="menu-item col-sm-6 col-xs-12 starter dinner desserts">
                    <div class="clearfix menu-wrapper">
                        <h4>English asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 starter">
                    <div class="clearfix menu-wrapper">
                        <h4>English asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 breakfast desserts starter">
                    <div class="clearfix menu-wrapper">
                        <h4>English asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 breakfast">
                    <div class="clearfix menu-wrapper">
                        <h4>English asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 lunch starter breakfast">
                    <div class="clearfix menu-wrapper">
                        <h4>English asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 lunch">
                    <div class="clearfix menu-wrapper">
                        <h4>English asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 dinner breakfast lunch">
                    <div class="clearfix menu-wrapper">
                        <h4>English asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 dinner">
                    <div class="clearfix menu-wrapper">
                        <h4>English asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 desserts lunch dinner">
                    <div class="clearfix menu-wrapper">
                        <h4>English asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 desserts">
                    <div class="clearfix menu-wrapper">
                        <h4>English asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="menu-btn">
                        <a class="btn btn-default btn-lg" href="./menu_all.html" role="button">Explore our
                            menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->