/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

h3 {
    font-variant: lining-nums;
}

.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
.d-flex {
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
}

.float-left {
    float: left;
}
.p-0 {
    padding: 0;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.position-unset {
    position: unset !important;
}
.product-img {
    cursor: pointer;

    position: relative;
    overflow: hidden;
}

.product-img img {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 50%;
    object-fit: contain;
    transform: translate(-50%, 50%);
}

.list-style-none {
    list-style-type: none;
}

.product-img {
    position: relative;
}

.label-category {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.category--name {
    padding: 2px 5px;
    background-color: #f9c56a;
    border-radius: 5px 0px 0px 5px;
    color: #fff;
}

.text-lineThrough {
    text-decoration: line-through;
}

.dialog_success--order {
    position: fixed;
    z-index: 50;
    margin: auto;
    left: 50%;
    transform: translate(-50%);
    width: auto;

    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;

    border-radius: 2px;
    margin-top: 20px;
}

.formAuthen button[type="submit"] {
    cursor: pointer;
}
