/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

h3 {
    font-variant: lining-nums;
}

.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
.d-flex {
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
}

.float-left {
    float: left;
}
.p-0 {
    padding: 0;
}
.m-0 {
    margin: 0;
}
.mt-4 {
    margin-top: 1.5rem;
}
.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.text-dark {
    color: #000;
}
.text-underline {
    text-decoration: underline;
}
.font-weight-bold {
    font-weight: bold;
}

.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.position-unset {
    position: unset !important;
}
.overflow-auto {
    overflow: auto;
}
.p-4 {
    padding: 1.5rem;
}
.p-3 {
    padding: 1rem !important;
}
.pl-0 {
    padding-left: 0px !important;
}
.pt-3,
.py-3 {
    padding-top: 1rem !important;
}
.pr-3,
.px-3 {
    padding-right: 1rem !important;
}
.pb-3,
.py-3 {
    padding-bottom: 1rem !important;
}
.p .w-100 {
    width: 100%;
}

.flex-column {
    flex-direction: column;
}
.product-img {
    cursor: pointer;

    position: relative;
    overflow: hidden;
}

.product-img img {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 50%;
    object-fit: contain;
    transform: translate(-50%, 50%);
}

.list-style-none {
    list-style-type: none;
}

.product-img {
    position: relative;
}

.label-category {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.category--name {
    padding: 2px 5px;
    background-color: #f9c56a;
    border-radius: 5px 0px 0px 5px;
    color: #fff;
}

.text-lineThrough {
    text-decoration: line-through;
}

.dialog_success--order {
    position: fixed;
    z-index: 50;
    margin: auto;
    left: 50%;
    transform: translate(-50%);
    width: auto;

    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;

    border-radius: 2px;
    margin-top: 20px;
}

.formAuthen button[type="submit"] {
    cursor: pointer;
}

@media (max-width: 1140px) {
    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
