a {
    text-transform: uppercase !important;
    font-weight: bold !important;
}
.dropdown-menu {
    text-transform: capitalize;
}

.d-flex {
    display: flex !important;
}

.navbar-nav {
    width: auto;
}

.box-category-categoryDetail.show {
    display: flex !important;
}

.col-4 {
    width: 25%;
}

.nav-list {
    flex-basis: 90%;
    display: inline-flex;
    justify-content: center;
}

.box-category-categoryDetail a {
    color: #000;
}

.box-category-categoryDetail {
    width: 80%;
    margin: auto;
    left: 0;
    padding: 40px;
    background-color: #fff;
}

.box-category-categoryDetail .category--name {
    color: #000;
    font-weight: bold;
    font-size: 24px;
    background-color: transparent;
}

.box-category-categoryDetail .dropdown {
    padding-left: 5px;
}

.box-category-categoryDetail .dropdown li a {
    color: #000000de;
}

.menu-tool ul li.dropdown > a.not::before {
    content: "";
}

@media (min-width: 576px) {
    .navbar-toggler {
        display: none;
    }
}

.sub-menu a {
    color: black;
}

.sub-menu a:hover {
    color: #f9c56a;
}

